body {
  font-family: "Work Sans", sans-serif;
}
.heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}

.services .parent .par .text h3 {
  margin: 0 0 20px;
}
.services .parent .par .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .parent .image {
  text-align: center;
  position: relative;
}

.services .parent {
  margin-left: 15%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.services .parent .image::before {
  content: "";
  background-color: #FFE61B;
  width: 100px;
  height: 380px;
  top: -30px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .parent .image img {
  width: 210px;
}
.services .parent .par {
  display: flex;
  margin-bottom: 40px;
}
.services .parent .par i {
  color: #10cab7;
  flex-basis: 60px;
}
.services .parent .par .text {
  flex: 1;
}